// Color names
$color-iris: #5054c0;
$color-grey: #ebebeb;
$color-light-grey: #f7f7f7;
$color-yellow-orange: #ffb900;
$color-vermillion-red: #f03914;
$color-dark-sky-blue: #4a90e2;

// Color clasification
$primary-color: $color-iris;
$primary-text-color: black;
$carbs-color: $color-dark-sky-blue;
$protein-color: $color-vermillion-red;
$fat-color: $color-yellow-orange;
